.about {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

.tagcloud {
    font-family: "Poppins", sans-serif;
    color: var(--second-color);
}

.container .text {
    width: 50%;
    position: relative;
    z-index: 1;
}

.about.page {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.symbols {
    font-size: 24px;
    color: var(--second-color);
}

.top {
    /* margin-left: 80px; */
    position: absolute;
    top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-items: center;
    justify-content: center;
}

.fa-slash {
    transform: rotateZ(70deg);
    margin-right: -10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-title-section);
    color: var(--second-color);
}

.text h1 {
    font-size: var(--font-title-section);
}



.img {
    margin-right: 5rem;
}

p + p {
    margin-top: 1rem;
}

span.hov {
    width: auto;
    transition: all 0.4s ease;
    display: inline-block;
}

span.hov:hover {
    transform: scaleY(0.8) scaleX(1.2) rotate(5deg);
}

#head {
    animation: head 1.5s linear infinite alternate;
    transform-origin: bottom center;
    transform-box: fill;
}
#tick {
    animation: tick 10s linear infinite;
    transform-box: fill-box;
    transform-origin: bottom center;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes head {
    from {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
    }
}

@keyframes tick {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 650px) {
    .tagcloud {
        display: none;
    }

    .container .text {
        width: 100%;
    }
}
