.contact {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

.contact.section {
    margin-top: 5rem;
}

.form .input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.form .textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}

.input {
    width: 100%;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

.buttons .social {
    display: flex;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.main.hide {
    opacity: 0.5;
    pointer-events: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--second-color);
}

.text h1 {
    font-size: var(--font-title-section);
}

span.hov {
    width: auto;
    transition: all 0.4s ease;
    display: inline-block;
}

span.hov:hover {
    transform: scaleY(0.8) scaleX(1.2) rotate(5deg);
}

.space {
    padding: 7px;
}

form button {
    display: block;
}

.form .input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form .textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}

.input-wrapper .input {
    width: 48%;
}

.validate {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.validate p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.social {
    font-weight: 400;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.social a {
    color: var(--second-color);
    text-decoration: none;
    position: relative;
}

.media {
    display: flex;
    margin: 1rem 0;
    cursor: pointer;
    align-items: center;
    margin-right: 1rem;
}

.media .icon {
    font-size: 1em;
    margin-right: .5rem;
}

.media p {
    margin-left: 1rem;
    position: relative;
    font-size: 1em;

}

.message-status {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-status b {
    font-size: 22px;
    margin-bottom: 0.2rem;
}

.message-status p {
    font-size: 18px;
    text-align: center;
    /* font-weight: 600; */
}

.message-status button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-family: "Poppins", sans-serif;
    color: var(--second-color);
}

.loader.hide {
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring {
    box-sizing: border-box;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--second-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--second-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media only screen and (max-width: 850px) {
    .social {
        font-size: 18px;
    }
}

@media only screen and (max-width: 680px) {
    .social {
        display: none;
    }
}