.section {
    position: relative;
    margin-top: 5rem;
}

.text .desc {
    margin: 20px 0;
    font-size: var(--font-body);
}

.text .title {
    position: relative;
    font-size: var(--font-title-section);
}

.outline-text {
    width: 100%;
    position: absolute;
    overflow: visible;
    opacity: 0.1;
    left: 2rem;
    top: -5rem;
    z-index: 0;
    font-size: 2.5em;
    opacity: 0.1;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: var(--main-color);
    pointer-events: none;
}

.btn {
    padding: 10px 15px;
    border: 3px solid var(--second-color);
    position: relative;
    display: inline-block;
    outline: none;
    background: transparent;
    font-size: var(--font-body);
    cursor: pointer;
    color: var(--second-color);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.2s ease;
    z-index: 1;
    overflow: hidden;
    letter-spacing: 2px;
    border-radius: 0px;
}

.btn a {
    color: var(--second-color);
}

.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--second-color);
    transform: translate(-100%);
    z-index: -1;
    transition: transform 0.2s ease;
    overflow: hidden;
    /* border: 3px solid red; */
}

.btn:hover,
.btn:hover a {
    color: var(--main-color);
}

.btn:hover::after {
    transform: translate(0);
}

.btn.disabled {
    /* display: none; */
    pointer-events: none;
    color: #808080;
    border: 3px solid #808080;
}

.input,
.textarea {
    position: relative;
    background-color: var(--gray-color);
    outline: none;
    padding: 10px 15px;
    font-size: var(--font-body);
    border: none;
    z-index: 2;
    box-shadow: none;
    color: var(--second-color);
    font-family: "Poppins", sans-serif;
}

.input:focus,
.textarea:focus {
    box-shadow: 0px 2px 0 white;
}

::placeholder {
    color: #808080;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--second-color);
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

span.space {
    padding: 6px;
}

a {
    text-decoration: none;
}

@supports (-webkit-text-stroke: 1px black) {
    .outline-text {
        color: transparent;
        -webkit-text-stroke: 2px var(--second-color);
        text-shadow: none;
    }
}

@media only screen and (max-width: 704px) {
    .outline-text {
        top: -4rem;
    }
}

