@import url(./global.css);

.home {
    min-height: 100vh;
}
.container {
    height: 100%;
}

.home.container {
    position: relative;
    min-height: 100vh;
}

.about {
    margin-top: 5rem;
}
.portfolio {
    /* margin-top: 10rem; */
}
.contact {
    margin-top: 10rem;
}

.home .desc {
    font-size: 24px !important;
}

.fa-slash {
    transform: rotateZ(70deg);
    margin-right: -10px;
}

.space {
    padding: 5px;
}

.logo-outline {
    position: absolute;
    right: 0rem;
    top: -45%;
    height: 160%;
    opacity: 0.5;
}

h1 div {
    display: inline-block;
}
.eye {
    height: 1em;
    width: 1em;
    border: 4px solid var(--second-color);
    border-radius: 50%;
    position: relative;
    animation: eye 2s infinite;
    overflow: hidden;
    z-index: 99;
    background-color: var(--second-color);
}
.pupil {
    height: 0.5em;
    width: 0.5em;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.light {
    background-color: var(--second-color);
    height: 0.2em;
    width: 0.2em;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 15%;
    transform: translate(-10%, -10%);
}

.logo-con {
    width: 25%;
    transform: rotate(10deg);
    margin: auto;
    position: relative;
}

.typing::after {
    content: "";
    border-right: 2px solid black;
    margin-left: 3px;
    animation: blink 0.4s infinite ease;
}

span.hov {
    width: auto;
    transition: all 0.4s ease;
    display: inline-block;
}

span.hov:hover {
    transform: rotateZ(-10deg) scale(1.2);
}

@keyframes slide {
    0% {
        transform: translateX(-100px);
    }
    33.33% {
        transform: translateX(-600px);
    }
    66.66% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(-1950px);
    }
}
@keyframes trans {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes flower {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(60deg);
    }
}

@keyframes box {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes eye {
    0% {
        transform: translateY(30%) scaleY(1);
    }
    35% {
        transform: translateY(30%) scaleY(1);
    }
    45% {
        transform: translateY(30%) scaleY(0);
    }
    55% {
        transform: translateY(30%) scaleY(1);
    }
    100% {
        transform: translateY(30%) scaleY(1);
    }
}


@media only screen and (max-width: 650px) {
    .logo-con {
        display: none;
    }
}