nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 60px;
    max-width: 150px;
    z-index: 100;
    background-color: var(--gray-color);
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    z-index: 101;
}

.direct {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.direct .list {
    background: transparent;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 98;
}

.direct > div a {
    height: 100%;
    width: 100%;
}

.direct > div svg {
    pointer-events: none;
}



.logo img {
    min-height: 40px;
    max-height: 150px;
    transform: rotate(-5deg);
}


.direct a:hover:after{
    content: attr(data-content);
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    background-color: inherit;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    animation: fade 150ms ease-in-out alternate;
    z-index: 7;
}

.list:hover svg {
    opacity: 0;
}

a {
    text-decoration: none;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

a.active {
    color: var(--second-color);
}

.menu-toogle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5.5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toogle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 100;
    background-color: var(--main-color);
    padding: .5rem;
}
.menu-toogle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--second-color);
    border-radius: 3px;
    transition: all 0.5s ease;
    margin-bottom: 5px;
}

.menu-toogle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toogle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -1.8px);
}

.menu-toogle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toogle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toogle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

span:nth-child(4) {
    margin-bottom: 0;
}

.mob-ver {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    background-image: url(../assets/logo-outline-white.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.mob-ver.trans {
    transition: transform 250ms ease;
}

.mob-ver.show {
    transform: translateX(0%);
    
}

.mob-ver li {
    list-style: none;
    margin-bottom: 2rem;
    font-size: 32px;
    font-weight: 500;
}



.active-back {
    position: absolute;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    height: 60px;
    z-index: 90;
    transform: translateY(0px);
    /* display: none; */
    transition: transform 250ms ease;
}

.active-back .top-white {
    position: absolute;
    bottom: 100%;
    background-color: var(--main-color);
    height: 30px;
    width: 100%;
}

.active-back .top-black {
    position: absolute;
    bottom: 100%;
    background-color: var(--gray-color);
    width: 100%;
    height: 30px;
    border-bottom-right-radius: 20px;
}

.active-back .bot-white {
    position: absolute;
    top: 100%;
    background-color: var(--main-color);
    height: 30px;
    width: 100%;
}

.active-back .bot-black {
    position: absolute;
    top: 100%;
    background-color: var(--gray-color);
    width: 100%;
    height: 30px;
    border-top-right-radius: 20px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .direct {
        display: none;
    }

    .logo {
        display: none;
    }

    nav {
        background-color: transparent;
        z-index: 99;
    }

    .menu-toogle {
        display: block;
    }

    
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .direct {
        justify-content: space-between;
    }

    .direct > div {
        margin: 0;
    }
}
