@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #353535;
    --second: #f0f0f0;
    --gray: #606060;
    --font-title-section: 48px;
    --font-body: 16px;
}
#app {
    --main-color: var(--main);
    --second-color: var(--second);
    --gray-color: var(--gray);
}

html { height: 100%;
    overflow:auto;
    scroll-behavior: smooth; 
}

body { 
    height: 100%;
}


/* width */
::-webkit-scrollbar {
    width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #353535;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    /* border-radius: 0px; */
    width: 10px;
    border-right: 7px solid #353535;
    border-left: 7px solid #353535;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media only screen and (max-width: 704px) {
    :root {
        --font-title-section: 36px;
        --font-body: 14px;
    }
}