@import url(./global.css);

.work.view-page {
    padding: 10rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    margin-top: 20px;
}

.gallery > div {
    background-color: var(--second-color);
    border: 1px solid var(--main-color);
    padding-top: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.gallery > div > a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.gallery > div::before {
    content: "View Project";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-body);
    color: var(--second-color);
    transition: all 200ms ease;
    transform-origin: center center;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--main-color);
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
}

.gallery > div:hover:before {
    height: 50%;
    width: 50%;
    opacity: 1;
}

.gallery > div:hover img {
    transform: scale(1.2);
    transform-origin: center center;
}

.gallery > div:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    z-index: 2;
    pointer-events: none;
}

.gallery > div > a img {
    height: 100%;
    width: 100%;
    transition: all 200ms ease;
}

.btn {
    font-size: 16px;
}

.work-list .work {
    display: flex;
    justify-content: space-between;
    color: var(--second-color);
    font-family: "Poppins", sans-serif;
    padding: 5rem 0;
}

.work .information {
    width: 50%;
    max-width: 500px;
}

.information .description {
    margin-top: 2rem;
}

.information .tools {
    margin-top: 2rem;
    font-weight: 600;
}

.tools span {
    font-weight: 400;
}

.tools .design {
    margin-top: 0.5rem;
}

.information .links {
    margin-top: 3rem;
}

.information .links .btn {
    margin-right: 1rem;
}

.work .img {
    max-height: 300px;
    max-width: 500px;
    overflow: hidden;
}

.img img {
    height: 100%;
    width: 100%;
    transition: transform 250ms ease;
}

.mobile-img {
    height: 100%;
    width: 100%;
    display: none;
}

.img:hover img {
    transform: scale(1.2);
}

span.hov {
    width: auto;
    transition: all 0.4s ease;
    display: inline-block;
}

span.hov:hover {
    transform: rotateZ(-10deg) scale(1.2);
}
.space {
    padding: 5px;
}

.detail-enter-active,
.detail-leave-active {
    transition: transform 0.5s;
}
.detail-enter, .detail-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-100%);
}

@media only screen and (max-width: 1024px) {
    .text {
        text-align: center;
    }
    .work-page .title-page {
        font-size: 2rem;
    }
    .work-list {
        margin-top: 0;
    }
    .work-list .work {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .work .information {
        width: 100%;
    }

    .work .img {
        display: none;
    }

    .mobile-img {
        display: block;
        margin-top: 1rem;
    }

    .work .work-title {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
