.about.section {
    margin-top: 5rem;
}

.tagcloud {
    font-family: "Montserrat", sans-serif;
    color: var(--second-color);
}

.container .text {
    width: 50%;
    position: relative;
    z-index: 1;
}
