.contact.section .outline-text {
    top: -4.9rem;
    left: 50px;
    font-size: 122px;
    opacity: 0.1;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    /* z-index: -1; */
    color: var(--second-color);
}

.form .input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.form .textarea {
    width: 100%;
    margin-bottom: 20px;
}

@supports (-webkit-text-stroke: 1px black) {
    .contact.section .outline-text {
        color: transparent;
        -webkit-text-stroke: 1px var(--second-color);
        text-shadow: none;
    }
}
