.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    margin-top: 20px;
}

.gallery > div {
    background-color: var(--second-color);
    border: 1px solid var(--main-color);
    padding-top: 100%;
}

.section {
    position: relative;
}
